PORT=3000
NODE_ENV=development

FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@your-project.iam.gserviceaccount.com
FIREBASE_CLIENT_ID=

JWT_SECRET=your_jwt_secret_key_change_in_production
JWT_EXPIRES_IN=7d

STOCKFISH_PATH=

ADMIN_KEY=your_admin_secret_key_change_in_production
